@{
    ViewBag.Title = "VnpayReturn";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Thanh Toán</a></li>
                </ul>
            </div>

            <!-- Sidebar -->
            <!-- Main Content -->
            <div class="row">

                <div class="col-md-12 text-center">

                    <h1 style="position: absolute; z-index: 3; margin-left: 360px; margin-top: 10px; font-size: 55px; font-family: Lucida Handwriting; " class="">Thanh Toán</h1>


                    @if (ViewBag.ThanhToanThanhCong != null)
                    {
                        <p style="position: absolute; z-index: 3; margin-left: -150px; margin-top: 250px; font-size: 28px; width: 1400px; color: orange;">@ViewBag.InnerText</p>
                    }
                    <img src="~/Content/assets/images/tt.jpg" style="height: 300px; width: 1400px; position: relative; z-index: 1; margin-top: 0px; margin-left: -150px;" />
                </div>

            </div>
            <hr />
            @*<div class="row">
                    <div id="show_success"></div>
                    <div class="col-md-9">

                    </div>

                </div>*@
        </div>
    </div>
</div>

