@model IEnumerable<BayMaxShop.Models.EF.ProductCategory>

@if (Model != null && Model.Any())
{
    <div class="row">
        <div class="col text-center">
            <div style="font-family:'Times New Roman', Times, serif;" class="section_title new_arrivals_title">
                <h2>Danh Mục Sản Phẩm</h2>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="banner_item align-items-center" style="background-image:url(@item.Icon)">
                            <div class="banner_category">
                                <a style="color: #989898; " href="/danh-muc-san-pham/@item.Alias-@(item.Id)">@item.Title</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

