
@{
    ViewBag.Title = "Liên hệ";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">


<div class="container contact_container" style="font-family:'Times New Roman', Times, serif;">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li class="active"><a href="/lien-he"><i class="fa fa-angle-right" aria-hidden="true"></i>Liên Hệ</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Map Container -->

    <div class="row">
        <div class="col">
            <div id="google_map">
                <div class="map_container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4206639910967!2d106.78290865045564!3d10.855574792229884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276e7ea103df%3A0xb6cf10bb7d719327!2sHUTECH%20University%20-%20E%20Campus%20(SHTP)!5e0!3m2!1sen!2s!4v1678710616126!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Us -->

    <div class="row" style=" margin-left: 250px; margin-top: 30px; font-family: 'Times New Roman', Times, serif;">

        <div class="info-member" style="font-size: 30px;  margin-left: 400px;">
            <h5 style="color: red;">Hotline:</h5>
            <h5 style="margin-left: 70px; margin-top: -23px;">  0915607543 ( Dr. Duc )</h5>
            <h5 style="margin-left: 270px; margin-top: -23px;">      0963304506 ( Ms. Duc )</h5>
        </div>

        <div style="margin-left: -1100px; margin-top: -10px;" class="col-lg-6 get_in_touch_col">
            <div class="get_in_touch_contents">

                <p style="color: black; font-size: 20px;">Get In Touch With Us!</p>
                @using (Html.BeginForm("Index", "Contact", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div style="width: 500px; letter-spacing: 20px; ">
                        <input style="width: 300px; height: 30px; border: unset; " id="input_name" class="form_input input_name input_ph" type="text" name="name" placeholder="Name" required="required" data-error="Name is required.">
                        <input style="width: 300px; height: 30px; margin-top: 10px; border: unset;" style="" id="input_email" class="form_input input_email input_ph" type="email" name="email" placeholder="Email" required="required" data-error="Valid email is required.">
                        <textarea style="margin-top: 15px; width: 800px; height: 100px; border: unset; border-radius: 0px 0px 30px 0px; " id="input_message" class="input_ph input_message" name="message" placeholder="Message" rows="3" required data-error="Please, write us a message."></textarea>
                    </div>
                    <div style="margin-left: 90px;">
                        <button style="width: 100px; height: 30px; background-color: cornflowerblue; border:unset; color: white; border-radius: 50px;" id="review_submit" type="submit" class="red_button message_submit_btn trans_300" value="Submit">Send</button>
                    </div>
                }
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script src="~/Content/assets/js/contact_custom.js"></script>
}

@section Css{
    <style>
        * {
            font-family: 'Times New Roman', Times, serif;
        }

        .map_container {
            overflow: hidden;
            padding-bottom: 35%;
            position: relative;
            height: 0;
        }

            .map_container iframe {
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                position: absolute;
            }


        .social-links a {
            display: inline-block;
            height: 40px;
            width: 40px;
            background-color: #949494;
            margin: 0 10px 10px 0;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            color: #ffffff;
            transition: all 0.5s ease;
        }

            .social-links a:hover {
                color: #24262b;
                background-color: #ffffff;
            }
    </style>
}

